.contact {
  max-width: 500px;
  margin: 70px auto;
  padding: 20px;
  background-color: rgb(29, 29, 49);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  color: #ddd;
  margin-bottom: 200px;
}
/* Add this to your CSS file */
.message {
  max-height: 100px;
  height: 50px;
  margin: 50px;
  width: 200px;
}

.home-title {
  text-align: center;
  padding: 20px;
  background: rgb(177, 127, 127);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  max-width: 300px;
  margin: 0 auto;
  animation: popup-animation 2s forwards;
}
.home-title.visible {
  transform: scale(1);
  opacity: 1;
}

.myimage {
  max-width: 200px;
  max-height: 200%;
  padding-top: 200px;

  display: -moz-popup;
  margin-top: 1px;
  border-radius: 10px;
}

.skill {
  background-color: rgb(29, 29, 49);
}
.my {
  color: #ddd;
}
.myskills {
  background-color: #ddd;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  margin-bottom: 100px;
}

.me {
  max-width: 100px;
  margin: 70px auto;
  padding: 50px;
  border: 1px solid #ceccda;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  color: #ddd;
  margin-bottom: 200px;
  max-height: 200px;
  max-width: 400px;
  margin-bottom: 300px;
}

.todo {
  background-color: rgb(24, 24, 43);
  max-width: 400px;
  color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 50px;
}
.link {
  color: rgb(127, 241, 123);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1%;
  padding-top: 1px;
  padding-bottom: 10px;

  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}
@media (max-width: 600px) {
  .myimage {
    width: 70%;
    height: 100%;
  }
  .me {
    font-size: 15px;
    height: 200px;
  }
  .skill {
    font-size: 20px;
    width: 100%;
  }
}

.navbar {
  position: relative;
}

.hamburger {
  position: absolute;
  top: 1px;
  left: 10px;
  cursor: pointer;
  font-size: 24px;
  display: block;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: black;
  top: 50px;
  left: 0;
  max-width: 100px;
  width: 100%;
  max-height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: white;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  margin-right: 300px;
}
